
body {
  font-family: 'Roboto', sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .1875rem
}

.card-img-actions {
  position: relative
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center
}

.card-img {
  width: 350px
}

.star {
  color: red
}

.bg-cart {
  background-color: orange;
  color: #fff
}

.bg-cart:hover {
  color: #fff
}

.bg-buy {
  background-color: green;
  color: #fff;
  padding-right: 29px
}

.bg-buy:hover {
  color: #fff
}
.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > a {
  text-decoration: none;
}
@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 2.25rem;
  }
}